body{
	background-color: rgba(136,197,188,0.25);
	font-family: sans-serif;
    margin:0;
    padding:0;
    font-size: 0.9em;
}

div#header{
    background-color:#d6cdab;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#container{
    text-align:left;
    width:960px;
    margin:0 auto;
    box-sizing: border-box;
}

div#navigation{
    background:#e6eac3;
    float:left;
    width:330px;
}

div#navigation h2{
    background-color: transparent;
    text-align: center;
    padding: 10px;
}
div#p{
    padding: 10px;
}
div#content{
    float:left;
    width:610px;
    padding: 10px;
}

div#extra{
    width:330px;
    float:right;
    line-height: 20px;
    font-family: cursive;
    background:#e6eac3;
}

div#extra h3{
    font-family:  Verdana, Arial, Helvetica, sans-serif;
	color: #928556;
	font-weight: bold;
    font-size: 1em;
    text-align: left;
    margin: 20px 0px 10px 10px;
}
div#extra p{
    padding: 0px 10px;
}

div#footer{
    background:#BFBD93;
    clear:both;
    width:100%;
}

div#footer p{
    margin:0;
    padding:5px 10px;
}


h1{
	font-family:  Georgia, "Times New Roman", Times, serif;
	color: #786F4D;
	font-weight: bold;
	font-size: 2.5em;
	text-transform: uppercase;
    width: 100%;
    padding-left: 10px;
}

h1#covadonga{
	background-image: url('imagenes/logo_virgen.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	padding-left: 50px;
}

h2{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	color: #928556;
	font-weight: bold;
	font-size: 1.25em;
	text-transform: capitalize;
	text-decoration: underline;
	letter-spacing: 2px;
	background-color:  #F8F8FF;
}

p{
	text-align: justify;
}
ol li{
    margin-top:10px;
    margin-bottom:10px;
}
ol li a{
	text-decoration:none;
}

a.volverInicio{
	font-family: monospace;
    font-size: 1.1em;
}

a:link{
	color: #00008B;
}

a:visited{
	color: #800080;
}

a:hover{
	font-size: 1.25em;
	color: #FFA3CE;
}

a:active{
	font-size: 1.25em;
	background-color: #FFE4E1;
}

p span{
	font-weight: bold;
	font-style: italic;
	color: #4E7847;
}
img{
    width: 260px;
    margin: 0 auto;
}
table{
	border-collapse: collapse;
	width: 100%;
}

table, tr, td{
    border: 2px inset #4E7847;
}

th{
	font-family:  Geneva, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	font-variant: small-caps;
}

td{
	padding: 10px;
	text-align: justify;
	vertical-align: middle;
}

td ul li{
	list-style-type: circle;
}

li span.parteExplanada{
	text-transform: capitalize;
	color: #4866ab;
}


li.rey{
	list-style-image: url(imagenes/flechaDerecha.png);
}

p.autor{
	color: #545151;
    margin-top: 25px;
}

p.autor strong{
	color: #4E7847;
}

p.autor strong:hover{
	 background-color: #F8F8FF;
}

form p{
    font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #5a440f;
}

form label{
	margin-right: 10px;
}

form textarea{
	width: 100%;
	border: 2px solid #78592c;
	padding: 12px;
}
form input[type=submit], form input[type=reset]{
	width: 150px;
	padding: 8px 16px;
	margin: 4px 2px;
	color: white;
	background-color: #78592c;
}